.App {
  text-align: center;
  flex: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#symbol {
  width: 4em;
  padding: 0.2em;
  margin: 1em;
  font-size: 2em;
  cursor: pointer;
}
#symbol:hover {
  border: 2px solid black;
}
